    <div class="col-lg-10">
    <h5 class="my-3"> Change password </h5>


    <div class="divChangePassword">
    <form [formGroup]="form">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0"> Trenutna lozinka </p>
                    <input type="password" formControlName="oldPassword"  placeholder="Trenutna lozinka">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Nova lozinka </p>
                    <input type="password" formControlName="newPassword" placeholder="Nova lozinka">
                    </div>
                    
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Ponovite novu lozinku </p>
                        <input type="password" formControlName="repeatNewPassword" placeholder="Ponovite novu lozinku">
                    </div>
                <hr>
                </div>
                <button type="button" (click)="changePassword()"  class="btn btn-outline-primary ms-1"> Promeni lozinku</button>
            </div>
        </div>
        </form>
        <hr>
        <div *ngIf="passwordChanged" class="alert alert-success">
            Lozinka promenjena!
        </div>
        <div *ngIf="newPasswordsMatchError" class="alert alert-danger">
            Nove lozinke se ne podudaraju!
        </div>
        <div *ngIf="errorMessageFlag === true" class="alert alert-danger">
            Pogresna stara lozinka!
        </div>

        <div *ngIf="passwordLengthErrorFlag === true" class="alert alert-danger">
            Nova lozinka mora imati 8 karaktera!
        </div>

        </div>


    </div>