@font-face {
    font-family: ArialRounded;
    src: url(ArialRounded.ttf);
}

.title{
    background-color: transparent;
}
  
.navbar-brand {
    font-family: ArialRounded;
    color: white;
}

body, html{
    max-width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}