@font-face {
    font-family: ArialRounded;
    src: url(ArialRounded.ttf);
}

@font-face {
    font-family: ArialRoundedRegular;
    src: url(ArialRoundedRegular.ttf);
}

body, html{
    max-width: 100%;
}

div, a{
    padding: 10px;
}

*{
    font-family: ArialRoundedRegular;
}

.title{
    background-color: transparent;
}
  
.navbar-brand {
    font-family: ArialRounded;
    color: white;
}