<app-header-registered-user></app-header-registered-user>
<div class="d-flex justify-content-center">

    <form>
        <h1> Kreirajte grupu </h1>
        <div class="form-group">
            <label for="inputContent"> Naziv </label>
            <input type="text" class="form-control" id="inputContent" placeholder="Naziv" name="groupName"
                [(ngModel)]="groupName">
        </div>
        <div class="form-group">
            <label for="inputContent"> Opis </label>
            <input type="text" class="form-control" id="inputContent" placeholder="Opis" name="groupDescription"
                [(ngModel)]="groupDescription">
        </div>
        <button [ngStyle]="{'background-color': '#3E1B59', 'border': '#3E1B59', 'margin': '1px'}" type="submit" class="btn btn-primary"  (click)="createGroup() "> Kreiraj </button>

        <br>
        <br>

        <div class="alert alert-success" *ngIf="isGroupCreated">
            Uspesno kreirana grupa.
        </div>
    </form>
</div>