<div class="postCenter">
    <div  *ngFor="let post of posts" class="" style="max-width: 100%;">

            <div class="">
                    <div *ngFor="let image of post.imagePaths" class="" style="max-width: 540px;">
        <img  [src]="image"alt="Selected Image">
        </div>
            </div>
            <h5> {{ post.user }}</h5>
            <h3> {{post.creationDate}} </h3>

            <p> {{post.content}}</p>
                
             <button [ngStyle]="{'background-color': '#A8107D', 'border': '#A8107D', 'margin': '1px'}" type="button" class="btn btn-info" (click)="getPostDetails(post)">Info</button>
             <br>
             <p> Srca: {{post.reactions.hearts}}</p>
             <p> Lajkovi: {{post.reactions.like}}</p>
             <p> Dislajkovi: {{post.reactions.dislike}}</p>
<hr class="hr" />



    <div class="w-100"></div> <!-- Add this line to create a line break after each post -->

    </div>
    <br>
    <button [ngStyle]="{'background-color': '#3E1B59', 'border': '#3E1B59', 'margin': '1px'}" type="button" class="btn btn-success" (click)="sortPostsAscendingByDate()">Sortiraj objave po datumu (rastuce)</button>
<button [ngStyle]="{'background-color': '#3E1B59', 'border': '#3E1B59', 'margin': '1px'}" type="button" class="btn btn-success" (click)="sortPostsDescendingByDate()">Sortiraj objave po datumu (opadajuce)</button>


</div>