<app-header-registered-user></app-header-registered-user>
<form>
    <h1> Detalji grupe </h1>
    <div class="form-group">
        <label for="inputGroupName"> ID </label>
        <input type="number" disabled class="form-control" id="inputId" 
            placeholder="ID" value="{{this.group.groupId}}"> </div>
    <div class="form-group">
        <label for="inputGroupName"> Naziv </label>
        <input type="text" class="form-control" id="inputGroupName"  name="groupName" placeholder="Naziv"  [(ngModel)]="group.name">
    </div>
    <div class="form-group">
        <label for="inputDescription"> Opis </label>
        <input type="text" class="form-control" id="inputDescription"
         placeholder="Opis" name="groupDescription"  [(ngModel)]="group.description">
    </div>
    <div class="form-group">
        <label for="inputCreationDate">Datum kreiranja</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Datum kreiranja"
            value="{{this.group.createdAt}}" disabled>
    </div>
 <div class="form-group">
    <label for="exampleFormControlSelect1" disabled >Admministrator</label>
    <select class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let admin of admins">{{admin.user}}</option>
    </select>
</div> 



<div class="d-flex justify-content-center">
    <div *ngFor="let post of posts" class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/post.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post.content }}</h5>
                    <p class="card-text">{{ post.user }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.creationDate }}</small></p>
                </div>
                <button [ngStyle]="{'background-color': '#A8107D', 'border': '#A8107D', 'margin': '1px'}" type="button" class="btn btn-info" (click)="getPostDetails(post)">Info</button>
            </div>
        </div>
    </div>
</div>


    <button [ngStyle]="{'background-color': '#3E1B59', 'border': '#3E1B59', 'margin': '1px'}" type="submit" class="btn btn-primary" (click)="updateGroup()">Azuriraj </button> 
    <button [ngStyle]="{'margin': '1px'}" type="button" class="btn btn-danger" *ngIf="isAdmin" (click)="deleteGroup()">Izbrisi</button>

</form>
<br>
<br>
<div class="alert alert-success" *ngIf="isGroupUpdated">
    Uspesno azurirana grupa.
</div>